[submodule "api-test"]
	path = api-test
	url = https://github.com/maxfyk/api-test.git
[submodule "coji-api"]
	path = coji-api
	url = https://github.com/maxfyk/coji-api.git
[submodule "detectron2-coji-pieces-recognition"]
	path = detectron2-coji-pieces-recognition
	url = https://github.com/maxfyk/detectron2-coji-pieces-recognition.git
[submodule "coji-web"]
	path = coji-web
	url = https://github.com/maxfyk/coji-web.git
